<div layout="row" class="creator" ng-cloak>

    <div lang="row" flex>

    </div>

    <md-button ng-click="toggleRight()"
               ng-hide="isRightNavLockedOpen"
               class="md-primary md-icon-button md-fab-bottom-right">
        <md-icon md-font-icon="material-icons" aria-label="Open right nav">menu</md-icon>
    </md-button>

    <md-sidenav id="right-sidenav"
                class="md-sidenav-right md-whiteframe-4dp"
                md-component-id="right"
                md-is-locked-open="isRightNavLockedOpen">

        <md-tabs class="md-accent" md-selected="data.selectedIndex">
            <md-button class="md-icon-button" ng-click="isRightNavLockedOpen=!isRightNavLockedOpen">
                <md-icon md-font-icon="material-icons" aria-label="Pin right nav">
                    {{isRightNavLockedOpen ? 'lock' : 'lock_open'}}
                </md-icon>
            </md-button>

            <md-tab id="tab1">
                <md-tab-label>
                    <md-icon md-font-icon="material-icons" aria-label="Structure">extension</md-icon>
                </md-tab-label>
                <md-tab-body>
                    Structure items
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>
                    <md-icon md-font-icon="material-icons" aria-label="Decorators">dns</md-icon>
                </md-tab-label>
                <md-tab-body>
                    Decorators for the views
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>
                    <md-icon md-font-icon="material-icons" aria-label="Data">subtitles</md-icon>
                </md-tab-label>
                <md-tab-body>
                    Data handling components
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-sidenav>

</div>